<div class="page-header">
  <h3><%= @user.username %>'s Photos</h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <div class="thumbnail">

      <% @my_photos.each do |photo| %>
      <img src="<%= photo.image %>">

      <p>
        <a class = "btn btn-secondary btn-block" href="/photos/<%= photo.id %>">Show details</a>
        <a class = "btn btn-secondary btn-block" href="/photos/<%= photo.id %>/edit">Edit</a>
        <a class = "btn btn-secondary btn-block" href="/delete_photo/<%= photo.id %>">Delete</a>
      </p>

      <% end %>

    </div>

    </dl>

    
  </div>
</div>
